* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #dbdbdb;
}

header {
    width: 100%;
    background-color: grey;
}

nav {
    background-color: #16002b;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.logo {
    color: #a8a8a8;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: linear 180ms;
}

.logo:hover {
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: white;
    font-size: 18px;
    margin: 0 10px;
    padding: 5px;
    border: 2px solid transparent;
    transition: linear 280ms;
}

nav ul li a:hover {
    border-bottom: 2px solid white;
}

.banner {
    height: 300px;
}

.banner div {
    width: 70%;
    height: 100%;
    background-color: #41007e;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

main {
    width: 70%;
    margin: auto;
}

.section-1 {
    margin: 20px 0;
}

h2 {
    color: #16002b;
}

.content-article-1 {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.content-article-1 article {
    width: 250px;
    background-color: white;
    padding: 15px;
    margin: 10px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-article-1 article h3 {
    color: #41007e;
    margin-bottom: 10px;
    text-align: center;
}

.article-img-1 {
    width: 100%;
    height: 150px;
    background-color: #41007e;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.content-article-1 article p {
    text-align: center;
}

.content-article-1 article button {
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid #41007e;
    color: #41007e;
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: linear 180ms;
}

.content-article-1 article button:hover {
    background-color: #41007e;
    color: white;
}

#about article {
    background-color: white;
    border-radius: 9px;
    overflow: hidden;
    margin: 20px 0;
}

#about article div {
    width: 100%;
    height: 300px;
    background-color: #41007e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about article p {
    padding: 10px 20px;
}

#contact article p {
    margin: 15px;
}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 10px 20px;
    border-radius: 9px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

form div {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form div input{
    padding: 10px;
    border-radius: 9px;
    border: solid 1px #6f2faa;
}

form div input:focus {
    outline: 1px solid #41007e;
}

form div textarea{
    padding: 10px;
    border-radius: 9px;
    border: solid 1px #6f2faa;
}

form div textarea:focus {
    outline: 1px solid #41007e;
}

form button{
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color: #711cc0;
    font-weight: 600;
    transition: linear 180ms;
    border: none;
}

form button:hover {
    color: white;
    background-color: #41007e;
}

footer {
    background-color: #16002b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

footer ul {
    display: flex;
}

footer ul li{ 
    margin: 0 10px;
}

footer ul li a {
    color: #93889e;
    font-size: 18px;
    transition: linear 180ms;
}

footer ul li a:hover {
    color: white;
}