body {
    background-color: #0c1014;
    display: flex;
    /* width: 100%; */
}

* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.pointer {
    cursor: pointer;
}

.invert {
    filter: invert(100%);
}

header {
    display: flex;
}

nav {
    width: 75px;
    height: 98vh;
    /* background-color: #2487ea; */
    background-color: #0c1014;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 9px 0px;
}

.textos-nav {
    /* display: none; */
    height: 100vh;
    background-color: #1773ce;
    transition: linear 80ms;
    width: 1px;
}

header:hover .textos-nav {
    width: 125px;
    transition: linear 80ms;
    display: block;
}

/* nav:hover {
    width: 200px;
} */

.btn-nav {
    padding: 12px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    margin: 5px 0px;
}

.btn-nav:hover {
    background-color: #313030;
}

.cont-logo {
    height: 4%;
}

.opciones-nav {
    height: 81%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.settings {
    height: 15%;
}

.cont-foto-perfil-nav {
    margin: 5px 0px;
    padding: 12px;
    border-radius: 9px;
}

.cont-foto-perfil-nav:hover {
    background-color: #313030;
}

.foto-perfil-nav {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-perfil-nav img {
    width: 100%;
}

.container-principal {
    width: 100%;
}

.info-perfil {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 570px;
    margin: auto;
}

.foto-perfil {
    border-radius: 50%;
    width: 115px;
    height: 115px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.foto-perfil img {
    width: 100%;
}

.datos-perfil {
    width: 50%;
}

.arroba-usuario {
    display: flex;
    align-items: center;
    justify-content: start;

}

.arroba-usuario p {
    color: white;
    font-weight: 600;
    font-size: 23px;
    cursor: pointer;
    margin-bottom: 5px;
}

.opciones-usuario {
    display: flex;
    margin-left: 8px;
}

.opciones-usuario li {
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    margin: 1px;
}

li {
    list-style: none;
}

.nombre-usuario p {
    color: white;
    font-size: 13px;
    margin-bottom: 12px;
}

.seguidores {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.seguidores p {
    color: #FFF;
    font-size: 12px;

}

.botones {
    margin-top: 18px;
    display: flex;
    justify-content: center;
}

.btn-perfil-base {
    background-color: #25292e;
    padding: 8px;
    border-radius: 10px;
    margin: 4px;
}

.btn-perfil-base:hover {
    background-color: #3a3f45;
}

.btn-siguiendo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.btn-siguiendo p {
    color: #FFF;
    font-size: 14px;
}

.btn-siguiendo img {
    width: 25px;
    filter: invert(100%);
}

.btn-enviar-mensaje {
    border: none;
    width: 240px;
    color: #FFF;
}

.btn-agregar-amigo {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-agregar-amigo img {
    width: 45%;
    filter: invert(100%);
    transform: scaleX(-100%);
}

.destacadas {
    display: flex;
    width: 490px;
    margin: auto;
    margin-top: 30px;
}

.cont-destacada {
    display: flex;
    flex-direction: column;

}

.cont-destacada p {
    text-align: center;
    color: white;
    font-size: 11px;
}

.destacada {
    padding: 3px;
    background-color: #3a3f45;
    border-radius: 50%;
    margin: 6px;
}

.destacada div {
    border: solid 3px #0c1014;
    border-radius: 50%;
    overflow: hidden;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destacada img {
    width: 100%;
}

.pestañas {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pestañas div {
    padding: 10px;
    margin: 0px 76px;
    cursor: pointer;
}

.pestañas div svg {
    filter: invert(60%);
}

.selected {
    border-bottom: 2px solid #ffffff;
}

.selected svg {
    filter: invert(100%) !important;
}

/* .publicaciones {
    margin: auto;
    width: 100%;
    max-width: 800px;
    min-width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */

/* .publicaciones article {
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
} */

/* .publicaciones article {
    flex: 1 1 300px;
    height: 300px;
    overflow: hidden;
} */

/* .publicaciones article {
    margin: 0.5px;
} */

/* .publicaciones article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
} */

.publicaciones {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.publicaciones article {
    width: 300px;
    height: 380px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0.5px;
}

.publicaciones article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
