body {
    margin: 0;
}

.caja1 {
    position: relative;
    background: red;
    width: 100px;
    height: 100px;
    top: 30px;
    left: 30px;
    z-index: 3;
}

.caja2 {
    position: sticky;
    background: blue;
    width: 100px;
    height: 100px;
    bottom: 40px;
    right: 40px;
    z-index: 1;
}

.a {
    background-color: green;
}